Repository OCS-GEEK-HACK/shikashiru: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#
# pre-commit:
#   parallel: true
#   commands:
#     eslint:
#       glob: "*.{js,ts,jsx,tsx}"
#       run: yarn eslint {staged_files}
#     rubocop:
#       tags: backend style
#       glob: "*.rb"
#       exclude: '(^|/)(application|routes)\.rb$'
#       run: bundle exec rubocop --force-exclusion {all_files}
#     govet:
#       tags: backend style
#       files: git ls-files -m
#       glob: "*.go"
#       run: go vet {files}
#   scripts:
#     "hello.js":
#       runner: node
#     "any.go":
#       runner: go run
pre-commit:
  piped: true
  commands:
    format:
      priority: 1
      glob: "*.{js,cjs,mjs,jsx,ts,cts,mts,tsx,d.ts,yml,yaml,md,mdx,json,html,css}"
      run: |
        pnpm prettier {staged_files} --write
      stage_fixed: true

    lint:
      priority: 2
      glob: "*.{js,cjs,mjs,jsx,ts,cts,mts,tsx,d.ts}"
      run: |
        pnpm eslint {staged_files} --max-warnings=0 --ignore-pattern '.next/' --fix
      stage_fixed: true
commit-msg:
  commands:
    "lint commit message":
      run: pnpm commitlint --edit {1}

fix: metadata修正
  app/layout.tsx
Due: format, lint

docs: コミット規約追加
  README.md
Due: format

fix: ignores修正
  .github/workflows/lint.yml
  eslint.config.mjs
  lefthook.yml
  package.json
Due: format, lint

fix: style修正
  components/header.tsx
  components/map.tsx
  theme/tokens/colors.ts
Due: format, lint

fix: ファイル移動・パス修正
  components/map.tsx
  public/font/FUTENE_font/FUTENE.ttf
  public/icon/pin.png
  public/icon/zundamon-pin.png
  theme/styles/global-style.ts
Due: format, lint

fix: メニューボタンの背景変更
  components/header.tsx
Due: format, lint

feat: 道案内機能実装
  components/detail-modal.tsx
  components/map.tsx
Due: format, lint

ci: add build ci of next.js
  .github/workflows/build_next.yml
Due: format

ci: build ci should be failure
  app/layout.tsx
Due: format, lint

ci: build ci should be success
  app/layout.tsx
Due: format, lint

fix: i missed fix function name when I checked build ci should be failure
  app/layout.tsx
Due: format, lint

ci: change build command
  .github/workflows/build_next.yml
Due: format

ci: remove push event
  .github/workflows/build_next.yml
Due: format

feat: カテゴリー追加
  components/map-data.json
Due: format

feat: メニューボタン追加・フィルター処理は次回
  components/header.tsx
Due: format, lint

ci: change trigger event of build ci
  .github/workflows/build_next.yml
Due: format

feat: フィルター機能実装
  app/layout.tsx
  components/header.tsx
  components/map.tsx
  contexts/filter-context.tsx
Due: format, lint

fix: title追加
  components/map.tsx
Due: format, lint

fix: ci変更
  .github/workflows/build_next.yml
  .github/workflows/lint.yml
  .github/workflows/quality.yml
  package.json
Due: format

feat: apiによる音声ファイルを返す機能の追加
  app/api/voicevox/route.ts
Due: format, lint

feat: 詳細モーダルにカルーセル追加
  components/detail-modal.tsx
  components/map-data.json
  public/image/gankoji1.jpg
  public/image/gankoji2.jpg
  public/image/gankoji3.jpg
  public/image/sarusawa1.jpg
  public/image/sarusawa2.jpg
  public/image/sarusawa3.jpg
  public/image/tokuyuji1.jpg
  public/image/tokuyuji2.jpg
  public/image/tokuyuji3.jpg
Due: format, lint

Update app/api/voicevox/route.ts
  app/api/voicevox/route.ts
Due: format, lint

fix: formatted
  app/api/voicevox/route.ts
Due: format, lint

fix: レイアウト修正
  components/detail-modal.tsx
Due: format, lint

fix: トークンに変更
  components/detail-modal.tsx
Due: format, lint

chore: ルール追加
  eslint.config.mjs
Due: format, lint

feat: 一覧機能導入
  components/header.tsx
Due: format, lint

feat: 画像追加
  public/img/jyoukyouji.jpg
Due: none

feat: おみくじ機能導入
  components/fortune.tsx
  components/map.tsx
  public/icon/deer.png
  public/icon/speech-bubble.png
Due: format, lint

feat: 一覧表示完成
  app/layout.tsx
  components/header.tsx
  contexts/map-ref-context.tsx
Due: format, lint

fix: `userSelect`
  components/header.tsx
Due: format, lint

feat: 音声再生機能追加
  components/detail-modal.tsx
Due: format, lint

fix: 音声再生機能修正
  components/detail-modal.tsx
Due: format, lint

feat: 場所の追加
  components/map-data.json
  public/image/goryou1.jpg
  public/image/goryou2.jpg
  public/image/goryou3.jpg
  public/image/isakawa1.jpg
  public/image/isakawa2.jpg
  public/image/isakawa3.jpg
  public/image/kakinoha1.jfif
  public/image/kakinoha2.jpg
  public/image/kakinoha3.jpg
  public/image/kousindou1.jpg
  public/image/kousindou2.jpg
  public/image/kousindou3.jpg
  public/image/narakougei1.jpg
  public/image/narakougei2.jpg
  public/image/narakougei3.jpg
  public/image/naramura1.jpg
  public/image/naramura2.jpg
  public/image/naramura3.jpg
  public/image/narasake1.jpg
  public/image/narasake2.jpg
  public/image/narasake3.png
  public/image/nigiwai1.jpg
  public/image/nigiwai2.jpg
  public/image/nigiwai3.jpg
  public/image/omotya1.jpg
  public/image/omotya2.jpg
  public/image/omotya3.jpg
  public/image/puchi1.jpg
  public/image/puchi2.jpg
  public/image/puchi3.jpg
  public/image/sikasaru1.jpg
  public/image/sikasaru2.jpg
  public/image/sikasaru3.jpg
  public/image/siryoukan1.jpg
  public/image/siryoukan2.jpg
  public/image/siryoukan3.png
Due: format

fix: yamada UIコンポーネントの使用と状態管理の改善
  components/fortune.tsx
  components/map.tsx
Due: format, lint

feat: おみくじ機能に音声読み上げ機能を追加
  components/fortune.tsx
Due: format, lint
